@import "_mixins.scss";

body {
  background: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

@font-face {
  font-family: "LexendDeca";
  src: url("../fonts/Lexend_Deca/static/LexendDeca-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "space mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;

  @include xl {
    max-width: 1440px;
  }

  @include lg {
    max-width: 960px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 690px;
  }

  @include col {
    max-width: 355px;
  }
}



// header

header {
  padding: 22px;

// .box {
//   display: none;
//   width: 100%;
//   height: auto;
//   background-color: red;
// }

  .burger {
    display: none;
  }

  .logo {
    cursor: pointer;
  }

  nav {
    padding-left: 59px;

    li {
      list-style: none;

      a {
        text-decoration: none;
        transition: 0.8s;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;

        &:hover {
          color: #FCB72B;
        }
      }
    }
  }

  button {
    color: #939CAA;
    transition: 0.8s;
    border: 3px solid #939CAA;
    background: transparent;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    padding: 14px 39px;
    cursor: pointer;

    &:hover {
      color: #FCB72B;
      border-color: #FCB72B;
    }
  }
}

// intro-first__page

.intro-first__page {
  background:  url("../images/first-page-xl/intro-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .section-intro {
    
    .intro-text {
      padding-top: 153px;

      h1 {
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        width: 60%;
        font-size: normal;

      }

      p {
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        width: 60%;
        padding-left: 260px;
      }

      img {
        position: absolute;
        top: 354px;
        left:0;
      }
    }

    .intro-image {}
}
}

// section {
//   position: relative;
// }

// .box {
//   margin-top: 100px;
//   background: red;
//   width: 200px;
//   height: 200px;
//   // display: none;
//   position: absolute;
  
// }

