@import "_mixins.scss";
@import "_another.scss";

// header

header {
    .container {
        display: flex;
        justify-content: space-between;

        .nav-links {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                gap: 32px;
            }
        }
    }
}

// intro-first__page

.intro-first__page {

    .section-intro {
        display: flex;

        .intro-text {}

        .intro-image {}
    }
}