@import "_mixins.scss";
@import "_another.scss";

// header

header {
    display: flex;
    justify-content: space-between;

    .nav-links {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            gap: 32px;
        }
    }
}